body{
    font-family: sans-serif;
    background: #C0C0C0;
}

h1{
    text-align: center;
    font-weight: 300;
}

.tulisan_login{
    text-align: center;
    text-transform: uppercase;
}

.kotak_login{
    width: 350px;
    background: white;

    margin: 80px auto;
    padding: 30px 20px;
}

label{
    font-size: 11pt;
}

.form_login{
    box-sizing : border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login{
    background: #FF7F00;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}
.tombol_lanjut{
    background: red;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}
.link{
    color: #232323;
    text-decoration: none;
    font-size: 10pt;
}